<center>
<html><h1>Equipos Premier League 2016 - 2017</h1>
</center>

<center>
<p>
<img src="C:/Users/HP dv6/Desktop/Sitio2/partials/equipos.jpeg" width="500" height="300">
</center>
</p>
<center>
<TABLE BORDER=1 WIDTH=700>

<TR>
<TD WIDTH=100>
Equipos
</TD>

<TD WIDTH=100>
Ciudad
</TD>

<TD WIDTH=100>
Entrendaor
</TD>

<TD WIDTH=100>
Estadio
</TD>

<TD WIDTH=100>
Aforo
</TD>

<TD WIDTH=100>
Marca
</TD>

<TD WIDTH=100>
Patrocinador
</TD>

</TR>

<TR>

<TD WIDTH=100>
Arsenal
</TD>

<TD WIDTH=100>
Londres
</TD>

<TD WIDTH=100>
Arsene Wenger
</TD>

<TD WIDTH=100>
Emirates Stadium
</TD>

<TD WIDTH=100>
60 338
</TD>

<TD WIDTH=100>
Puma
</TD>

<TD WIDTH=100>
Emirates
</TD>


</TR>

<TR>
<TD WIDTH=100>
Bournemouth
</TD>

<TD WIDTH=100>
Bournemouth
</TD>

<TD WIDTH=100>
Eddie Howe
</TD>

<TD WIDTH=100>
DeanCourt
</TD>

<TD WIDTH=100>
11 700
</TD>

<TD WIDTH=100>
JD Sports
</TD>

<TD WIDTH=100>
Mansion.com
</TD>


</TR>

<TR>

<TD WIDTH=100>
Burnley
</TD>

<TD WIDTH=100>
Burnley
</TD>

<TD WIDTH=100>
Sean Dyche
</TD>

<TD WIDTH=100>
Turf Moor
</TD>

<TD WIDTH=100>
22 619
</TD>

<TD WIDTH=100>
Puma
</TD>

<TD WIDTH=100>
Dafabet
</TD>


</TR>

<TR>
<TD WIDTH=100>
Chelsea
</TD>

<TD WIDTH=100>
Londres
</TD>

<TD WIDTH=100>
Antonio Conte
</TD>

<TD WIDTH=100>
Stamford Bridge
</TD>

<TD WIDTH=100>
42 000
</TD>

<TD WIDTH=100>
Adidas
</TD>

<TD WIDTH=100>
Yokohama
</TD>


</TR>

<TR>
<TD WIDTH=100>
Crystal Palace 
</TD>

<TD WIDTH=100>
Londres
</TD>

<TD WIDTH=100>
Sam Allardyce
</TD>

<TD WIDTH=100>
Selhurst Park
</TD>

<TD WIDTH=100>
26 255
</TD>

<TD WIDTH=100>
Macron
</TD>

<TD WIDTH=100>
Mansion.com
</TD>


</TR>




</TABLE>
</center>
</html>
</TABLE>
